@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;
}

.container{
    margin: 30px auto;
    text-align: center;
}

.container h1{
    margin-bottom: 20px;
    font-size: 40px;
}

input{
    margin: 10px;
    border: 2px solid rgb(40, 70, 191);
    border-radius: 30px;
    padding: 10px;
}

button{
    background-color: rgb(40, 70, 191);
    border: none;
    border-radius: 30px;
    padding: 10px;
    color: white;
    margin: 10px 0 20px 0;
}

